* {margin:0;
   padding:0;
   box-sizing:border-box;}

.container {background-color:dodgerblue;
              width:100%;
              height:100vh;
              }

.navbar {display:flex;
         align-items:center;
         justify-content:space-between;
          }

nav  {flex:1;
      }

nav ul li {list-style-type:none;
           padding:60px;
           display:inline-block;
           margin-left:10%;
           }


nav ul li a {font-size:12px;
             color:white;
             font-family:verdana;
            text-decoration:none;
             }



#first-heading {font-size:5em;
                font-family:verdana sans-serif;
                margin-left:15px;
                margin-top:50px;
                }

#para1 {font-size:2em;
       font-family:verdana serif;
       margin-left:18px;
        }

#img      {right:160px;
             bottom:0px;
             position:absolute;
             height:80%;
              }

.headings {text-align:center;
           font-size:28px;
           margin-top:15px;
            }

.paragraph {font-size:12px;
            font-family:verdana;
            }

.wrapper {display:grid;
          grid-template-columns:repeat(3, 1fr);
          grid-gap:1em;
          margin-top:20px;
           }




.wrapper > div {height:minimax 100%;
               border-radius:10px;
               box-shadow: 6px -6px 8px #ddd,
                           -6px 6px 8px #ffffff;
               background-color:lightskyblue;
               outline:none; 
               border:hidden;
               padding:30px;
                }

.name {font-size:12px;
       font-family:verdana sans-serif;
       margin-top:20px;
       margin-left:15px;
       }

.box {width:50%;
      border-radius:38px;
      box-shadow: 6px -6px 8px #ddd,
                  -6px 6px 8px #ffffff;
     margin-top:5px;
     padding:10px;
     border:none;
      }

.doc {display:flex;
      margin-top:20px;
      padding-top:20px;
      margin-left:15px;
      background-color:eee;
      }

button {border-radius:38px;
        width:10%;
        background-color:dodgerblue;
        color:white;
       margin-top:10px;
       box-shadow: 6px -6px 8px #ddd,
                   -6px 6px 8px #ffffff;
        margin-bottom:10px;
         border:hidden;
        }

#para2 {text-align:center;
        font-family:courier;
        font-size: 12px;
        }

.add {margin-left: 20px;
     font-family:verdana;
     font-size:14px;
     }

.fa-facebook {color:blue;
              }

.fa-solid {color:darkred;
            }

.fa-instagram {color:palevioletred;
               }

.fa-linkedin {color:blue;
              }

.fa-twitter {color:blue;
             }

.fa-github {color:black;
            }